<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Place your bets at The Book">
    <title>The Book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <section class="hero main_hero is-fullheight">
        <div class="hero-head">
            <div class="first_nav">
                <div class="container">
                    <nav class="navbar">
                        <div class="navbar-brand">
                            <!-- Brand Logo -->
                            <a class="navbar-item" href="/">
                                <img src="./images/logo.png" alt="Logo" width="28" height="28">
                            </a>

                        </div>
                        <!-- Menu -->
                        <div id="navMenuBlogHero" class="navbar-menu">
                            <!-- Left Nav -->
                            <div class="navbar-start">
                                <a class="navbar-item is-active" href="/">Home</a>
                                <a class="navbar-item" href="./mlb">Baseball</a>
                                <a class="navbar-item" href="./nba">Basketball</a>
                                <a class="navbar-item" href="./nhl">Hockey</a>
                                <a class="navbar-item" href="./mls">Soccer</a>
                            </div>
                            <!-- ./Left Nav -->

                        </div>
                        <!-- ./Menu -->
                    </nav>
                </div>
            </div>
        </div>


        {{{body}}}

        <section class="hero" id="contact-us">
            <div class="hero-body">
                <div class="container">
                    <div>
                        <div class="content">
                            <h4 class="title is-3 has-text-dark">Sign Up For Daily Odds</h4>
                        </div>
                        <h6 class="subtitle is-6">All Sports. All World. All Safe. The Latest Odds On Your Favorite
                            Sports Are
                            Keystrokes Away.

                        </h6>

                        <div class="columns box">
                            <form class="column" action="#">
                                <div class="field">
                                    <label class="label">First Name</label>
                                    <div class="control">
                                        <input class="input" id="first" type="text" placeholder="First Name">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Last Name</label>
                                    <div class="control">
                                        <input class="input" id="last" type="text" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control">
                                        <input class="input" id="email" type="text" placeholder="Email">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Password</label>
                                    <div class="control">
                                        <input class="input" id="password" type="text" placeholder="Password">
                                    </div>
                                </div>


                                <div class="field">
                                    <label class="label"></label>
                                    <div class="control">
                                        <input class="button is-primary" id="submit" type="submit">
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </section>


</body>

<script src="/public/js/bulma.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/index.js"></script>

</html>