<link rel="stylesheet" href="./css/background.css">
<div class="hero-body main-block-thing">
    <div class="container has-text-centered">
        <div class="slider-content animated zoomIn">
            <div>
                <p class="title is-1 main-text">Welcome to The Book</p>
                <p class="subtitle is-3 main-text">Place Your Bets</p>
            </div>
        </div>
    </div>
</div>


<section class="container sports-main-container">
    <div class="sandbox">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Baseball</p>
                    <figure class="image is-4by3">
                        <a href="/mlb">
                            <img src="/images/baseball.jpg" alt="Major League Baseball">
                        </a>
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Basketball</p>
                    <figure class="image is-4by3">
                        <a href="/nba">
                            <img src="/images/basketball.jpg" alt="NBA Basketball">
                        </a>
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Hockey</p>
                    <figure class="image is-4by3">
                        <a href="/nhl">
                            <img src="/images/hockey.jpg" alt="NHL Hockey">
                        </a>
                    </figure>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">NFL</p>
                    <figure class="image is-4by3">
                        <a href="/nfl">
                            <img src="/images/nfl.jpg" alt="NFL Football">
                        </a>
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Soccer</p>
                    <figure class="image is-4by3">
                        <a href="/mls">
                            <img src="/images/mls.jpg" alt="Major League Soccer">
                        </a>
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">UFC - MMA</p>
                    <figure class="image is-4by3">
                        <a href="/ufcmma">
                            <img src="/images/mma.jpg" alt="UFC-MMA">
                        </a>
                    </figure>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">NCAA Football</p>
                    <figure class="image is-4by3">
                        <a href="/ncaaf">
                            <img src="/images/ncaaf.jpg" alt="NCAA Football">
                        </a>
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">NCAA Basketball</p>
                    <figure class="image is-4by3">
                        <a href="/ncaab">
                            <img src="/images/ncaab.jpg" alt="NCAA Basketball">
                        </a>
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Canadian Football</p>
                    <figure class="image is-4by3">
                        <a href="cfl">
                            <img src="/images/cfl.jpg" alt="CFL">
                        </a>
                    </figure>
                </article>
            </div>
        </div>


    </div>

</section>