<div class="box has-text-centered">
    <section class="section">

        <h1 class="title is-centered ">Please sign up below!</h1>

        <div class="field is-grouped">
            <div class="control is-expanded">
                <label class="label">First Name</label>
                <div class="control">
                    <input class="input" id="first" type="text" placeholder="First Name">
                </div>
            </div>

            <div class="control is-expanded">
                <label class="label">Last Name</label>
                <div class="control">
                    <input class="input" id="last" type="text" placeholder="Last Name">
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" id="email" type="email" placeholder="Email input"
                    value="example@email.com">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
            <p class="help is-danger">This email is invalid</p>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" id="password" type="text" placeholder="Please choose your password here"
                    value="password">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <p class="help is-success">Enter this password</p>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    Add me to The Book's mailing list!</a>
                </label>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-text">Cancel</button>
            </div>
        </div>



    </section>
</div>