<div class="has-text-centered" id="sportTitle" >
    <h1>Current Odds</h2>
    <br>
    <p>{{currentSport}}</p>
    
</div>

<div class="main-stats-background intro columns is-multiline is-5">
    {{#each eventsArray}}
        {{> events/event-block}}    
    {{/each}}
</div>
